// ANIMATE HOVER BTN
// ----------------------------------------
@mixin animate-hover-btn($color, $color2: null) {
    text-decoration: none;
    position: relative;
    color: $color;
    background-image: linear-gradient(to right, $color2 50%, $color 50%);
    background-position-x: 100%;
    background-repeat: no-repeat;
    background-size: 200%;
    transition: background-position-x 0.2s ease-out, color 0.5s ease-out;

    @include states {
        background-position-x: 0%;
        //color: $color2;
    }
}
