/*
*
    Breakpoints settings
    Breakpoints and their associated mixins have been defined with this method : https://tinyurl.com/yax92hf6
*
*/

/* ---------------------------------- *\
    Variables
\* ---------------------------------- */
// Any modification here have to be reported in the "Responsive css classes" in "main.js"
$portrait: 600px; // 37.5em
$landscape: 900px; // 56.25em
$desktop: 1200px; // 75em
$large: 1800px; // 112.5em

/* ---------------------------------- *\
    Utilities
\* ---------------------------------- */
@mixin bp($bp) {
    @if ($bp == "default") {
        @content;
    }

    @if ($bp== "portrait-up") {
        @media only screen and (min-width: em($portrait, $website-font-size)) {
            @content;
        }
    } @else if ($bp== "landscape-up") {
        @media only screen and (min-width: em($landscape, $website-font-size)) {
            @content;
        }
    } @else if ($bp== "desktop-up") {
        @media only screen and (min-width: em($desktop, $website-font-size)) {
            @content;
        }
    } @else if ($bp== "large-up") {
        @media only screen and (min-width: em($large, $website-font-size)) {
            @content;
        }
    } @else if ($bp== "desktop-under") {
        @media only screen and (max-width: em($large - 1, $website-font-size)) {
            @content;
        }
    } @else if ($bp== "landscape-under") {
        @media only screen and (max-width: em($desktop - 1, $website-font-size)) {
            @content;
        }
    } @else if ($bp== "portrait-under") {
        @media only screen and (max-width: em($landscape - 1, $website-font-size)) {
            @content;
        }
    } @else if ($bp== "phone-only") {
        @media only screen and (max-width: em($portrait - 1, $website-font-size)) {
            @content;
        }
    }
}

@mixin tweakpoint($min: "", $max: "") {
    @if ($min== "") {
        @media only screen and (max-width: em($max, $website-font-size)) {
            @content;
        }
    } @else if ($max== "") {
        @media only screen and (min-width: em($min, $website-font-size)) {
            @content;
        }
    } @else {
        @media only screen and (min-width: em($min, $website-font-size)) and (max-width: em($max, $website-font-size)) {
            @content;
        }
    }
}
