.link {
    display: inline-flex;
    color: $primary;
    position: relative;
    padding: 0.75rem;
    padding-left: 1.25rem;
    border-radius: 0.25rem;
    font-size: rem(20px);
    cursor: pointer;
    transition: $transition-default;
    @include states {
        color: $text-color;
    }
}
.btn {
    display: inline-flex;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: $transition-default;
}
.btn-primary {
    background-color: $primary;
    color: $white;
    @include states {
        color: $white;
        background-color: $primary-bis;
    }
}
.btn-secondary {
    background-color: $secondary;
    color: $white;
    @include states {
        color: $white;
        background-color: $secondary-bis;
    }
}
