body.loading * {
    transition: none !important;
}

body {
    font-family: $default-font;
    font-size: $website-font-size;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    &.debug {
        *:not(.debug-wrapper > *):not(.debug-wrapper) {
            background: rgba(0, 100, 0, 0.1) !important;
            outline: solid 1px rgba(0, 100, 0, 0.3) !important;
            outline-offset: -1px;
        }
    }
}

html {
    min-height: -webkit-fill-available;
}

::selection {
    background-color: $primary;
    color: white;
}

//Generating heach level of headings using the values in "variables.scss"
@each $breakpoint, $sizes in $header-sizes {
    @include bp($breakpoint) {
        @each $element, $size in $sizes {
            #{$element} {
                font-size: $size;
            }
        }
    }
}

p {
    color: $text-color;
    font-family: $default-font;
    font-size: $website-font-size;
    line-height: $default-line-height;
    word-spacing: 0.12rem;
    hanging-punctuation: first;
}

a {
    text-decoration: none;

    &.on-white,
    &.on-dark {
        background-position-y: 100%;
        background-repeat: no-repeat;
        background-size: 100% 7%;
        padding: 0 0.15rem;
        cursor: pointer;
        transition: all 0.2s ease-out;
    }

    &.on-white {
        background-image: linear-gradient(to right, $grey-dark, $grey-dark);

        @include states {
            background-size: 100% 100%;
            color: $white;
        }
    }

    &.on-dark {
        background-image: linear-gradient(to right, $white, $white);

        @include states {
            background-size: 100% 100%;
            color: $grey-dark;
        }
    }
}

.default-link {
    color: $primary;
    position: relative;
    padding: 0.75rem;
    padding-left: 1.25rem;
    border-radius: 0.25rem;
    font-size: rem(20px);
    background-image: linear-gradient(to right, $primary-bis 50%, $white 50%);
    background-position-x: 100%;
    background-repeat: no-repeat;
    background-size: 200%;
    cursor: pointer;
    transition: all 0.2s ease-out;

    &:before {
        content: ">";
        position: relative;
        left: -0.75rem;
    }

    @include states {
        background-position-x: 0%;
        color: $white;
    }
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    shape-margin: 0.75rem;
}

.default-btn {
    text-decoration: none;
    position: relative;
    width: fit-content;
    padding: 0.9rem 2rem;
    border-radius: 0.3rem;
    color: $text-color;
    background-image: linear-gradient(to right, $secondary-bis 50%, $secondary 50%);
    background-position-x: 100%;
    background-repeat: no-repeat;
    background-size: 200%;
    cursor: pointer;
    transition: background-position-x 0.2s ease-out, color 0.5s ease-out;

    @include states {
        background-position-x: 0%;
        //color: $white;
    }
}

.page-title {
    @include no-shell;
    position: absolute;
    top: 2rem;
    left: 3vw;
    font-size: calc(90% + 18vw);
    opacity: 0.1;
    word-break: keep-all;
    width: max-content;

    @include bp("portrait-under") {
        font-size: calc(100% + 18vw);
        left: 1rem;
    }

    @include bp("phone-only") {
        font-size: calc(100% + 14vw);
    }
}

.txt-default {
    font-size: rem(22px);

    @include bp("phone-only") {
        font-size: rem(18px);
    }
}

.final-txt {
    font-size: rem(24px);

    @include bp("phone-only") {
        font-size: rem(20px);
    }

    p {
        font-size: rem(24px);

        @include bp("phone-only") {
            font-size: rem(20px);
        }
    }
}

.project-title {
    font-size: rem(100px);

    @include bp("portrait-under") {
        font-size: rem(70px);
    }

    @include bp("phone-only") {
        font-size: rem(45px);
    }
}
