/* ---------------------------------- *\
    Mixins
\* ---------------------------------- */

// States
@mixin hover {
    &:hover,
    &:focus {
        &:not(:active) {
            @content;
        }
    }
}

@mixin states {
    &:hover,
    &:focus,
    &:active {
        @content;
    }
}

/* ---------------------------------- *\
    Utilities
\* ---------------------------------- */

// To get a boxed layout
// variables in variables.scss
@mixin shell {
    max-width: calc(#{$shell-width} + #{$body-padding} * 2);
    margin: 0 auto;
    padding: 0 $body-padding;
    height: inherit;

    @include bp("landscape-under") {
        padding: 0 calc(#{$body-padding} * 1);
    }

    @include bp("portrait-under") {
        padding: 0 calc(#{$body-padding} * 0.75);
    }
}

@mixin no-shell {
    max-width: none;
    padding-right: 0;
    padding-left: 0;
}

.shell {
    @include shell;
}

// FAKE FLEX COL
// ----------------------------------------
@mixin fake-flex-col($height) {
    &::before {
        display: block;
        width: 1px;
        min-width: 1px;
        max-width: 1px;
        height: $height;
        flex: 0 0 1px;
        content: "";
    }
}

/* ---------------------------------- *\
    Units conversion
\* ---------------------------------- */
// rem
@function rem($px_value, $base: $website-font-size) {
    @if $px_value==0 or type-of($px_value) != "number" {
        @return $px_value;
    }

    @return calc($px_value / ($base / 1rem));
}

// em
@function em($px_value, $base: $website-font-size) {
    @if $px_value==0 or type-of($px_value) != "number" {
        @return $px_value;
    }

    @return calc($px_value / ($base / 1em));
}

// GRADIENT
// ----------------------------------------
// Horizontal gradient
@mixin gradient-horizontal($start-color: #555, $end-color: #333, $start-percent: 0%, $end-percent: 100%) {
    background-image: -webkit-linear-gradient(left, $start-color $start-percent, $end-color $end-percent);
    background-image: -o-linear-gradient(left, $start-color $start-percent, $end-color $end-percent);
    background-image: linear-gradient(to right, $start-color $start-percent, $end-color $end-percent);
}

// Vertical gradient
@mixin gradient-vertical($start-color: #555, $end-color: #333, $start-percent: 0%, $end-percent: 100%) {
    background-image: -webkit-linear-gradient(top, $start-color $start-percent, $end-color $end-percent);
    background-image: -o-linear-gradient(top, $start-color $start-percent, $end-color $end-percent);
    background-image: linear-gradient(to bottom, $start-color $start-percent, $end-color $end-percent);
}

// LINE CLAMP
// ---------------------------------------
@mixin line-clamp($line-number) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $line-number;
    -webkit-box-orient: vertical;
}

/* ---------------------------------- *\
    Classes
\* ---------------------------------- */

.ta- {
    &l {
        text-align: left;
    }
    &r {
        text-align: right;
    }

    &c {
        text-align: center;
    }
}

.uppercase {
    text-transform: uppercase;
}

.centered-element {
    margin-inline: auto;
    max-width: 80ch;
}

.for-screen-reader,
.hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    height: 1px;
    width: 0;
}

.font-100,
.txt-thin {
    font-weight: 100;
}

.font-200,
.txt-extra-light {
    font-weight: 200;
}

.font-300,
.txt-light {
    font-weight: 300;
}

.font-400,
.txt-regular {
    font-weight: 400;
}

.font-500,
.txt-medium {
    font-weight: 500;
}

.font-600,
.txt-semibold {
    font-weight: 600;
}

.font-700,
.txt-bold {
    font-weight: 700;
}

.font-800,
.txt-extra-bold {
    font-weight: 800;
}

.font-900,
.txt-black {
    font-weight: 900;
}

.fs-normal {
    font-style: normal;
}

.fs-italic {
    font-style: italic;
}

// COLORS
// ----------------------------------------
.color- {
    &error {
        color: $color-error;
    }
    &text {
        color: $text-color;
    }

    &primary {
        color: $primary;
    }

    &primary-bis {
        color: $primary-bis;
    }

    &secondary {
        color: $secondary;
    }

    &secondary-bis {
        color: $secondary-bis;
    }

    &white {
        color: $white;
    }

    &black {
        color: $black;
    }
}
.bg-color- {
    &text {
        background-color: $text-color;
    }

    &primary {
        background-color: $primary;
    }

    &primary-bis {
        background-color: $primary-bis;
    }

    &secondary {
        background-color: $secondary;
    }
    &secondary-bis {
        background-color: $secondary-bis;
    }

    &white {
        background-color: $white;
    }

    &black {
        background-color: $black;
    }

    &grey-dark {
        background-color: $grey-dark;
    }
}
.text-color {
    color: $text-color;
}

// BLOCK
// ----------------------------------------
.pos- {
    &static {
        position: static !important;
    }

    &relative {
        position: relative !important;
    }
}
.display- {
    &block {
        display: block !important;
    }
    &inline {
        display: inline !important;
    }

    &inline-block {
        display: inline-block !important;
    }
}

.hide {
    display: none !important;
}

.show {
    display: initial !important;
}

.block- {
    &top {
        vertical-align: top !important;
        align-self: flex-start !important;
    }

    &middle {
        vertical-align: middle !important;
        align-self: flex-center !important;
    }

    &bottom {
        vertical-align: bottom !important;
        align-self: flex-end !important;
    }

    &left {
        margin-right: auto !important;
        margin-left: 0 !important;
    }

    &center {
        margin-right: auto !important;
        margin-left: auto !important;
    }

    &right {
        margin-right: 0 !important;
        margin-left: auto !important;
    }
    &link {
        position: relative;
        display: block;
        text-decoration: none;
    }
}

.no-margin {
    margin: 0 !important;
}
.no-margin {
    &-top {
        margin-block-start: -1rem !important;
    }
    &-right {
        margin-inline-end: 0 !important;
    }
    &-bottom {
        margin-block-end: 0 !important;
    }
    &-left {
        margin-inline-start: 0 !important;
    }
}

.no-padding {
    padding: 0 !important;
}
.no-padding {
    &-top {
        padding-block-start: 0 !important;
    }

    &-right {
        padding-inline-end: 0 !important;
    }

    &-bottom {
        padding-block-end: 0 !important;
    }

    &-left {
        padding-inline-start: 0 !important;
    }
}

.no-spaces {
    padding: 0;
    margin: 0;
}
