/*
*
    Variables declarations
*
*/

// Colors : Native
$white: white;
$black: black;

// Colors : Grey pannel (5 variants max)
$grey-light: #f8f8f8;
$grey: #bbbbbb;
$grey-medium: #727272;
$grey-dark: #2c2c2c;

// Colors : Base
$text-color: #3b3b3b;
$background-color: $white;
$color-error: #dc3545;
$color-success: #28a745;

// Colors : Custom
$primary: #3896d3;
$primary-bis: #2480bd;
$secondary: #f1bf0d;
$secondary-bis: #dfae00;

// Fonts
$default-font: "Arial", sans-serif !default;
$default-font-size: 16px !default;
$website-font-size: 18px; // do not touch
$default-line-height: 1.5 !default;

// Headings sizes
$header-sizes: (
    "default": (
        h1: 30px,
        h2: 22px,
        h3: 18px,
        h4: 16px,
        h5: 14px,
        h6: 12px,
    ),
    "portrait-up": (
        h1: 46px,
        h2: 40px,
        h3: 35px,
        h4: 26px,
        h5: 20px,
        h6: 14px,
    ),
    "landscape-up": (
        h1: 50px,
    ),
    "phone-only": (
        h1: 26px,
    ),
);

// Font-weight
$fw-thin: 100;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fw-extrabold: 800;
$fw-black: 900;

// Dimensions
$header-height: 60px;
$container-width: 98.125rem; //1570px
$container-padding: 2rem;

$spc: 2rem; //to calculate every margin, padding, etc
$gutter: 4rem;

// For shell mixin
$body-padding: 2rem;
$shell-width: 76.25rem; //1220px

// transitions
$transition-default: all 0.3s ease-out;
