/*
*
    Variables declarations
*
*/
/*
*
    Breakpoints settings
    Breakpoints and their associated mixins have been defined with this method : https://tinyurl.com/yax92hf6
*
*/
/* ---------------------------------- *\
    Variables
\* ---------------------------------- */
/* ---------------------------------- *\
    Utilities
\* ---------------------------------- */
/* ---------------------------------- *\
    Mixins
\* ---------------------------------- */
/* ---------------------------------- *\
    Utilities
\* ---------------------------------- */
.shell {
  max-width: calc(76.25rem + 2rem * 2);
  margin: 0 auto;
  padding: 0 2rem;
  height: inherit;
}
@media only screen and (max-width: em(1199px, 18px)) {
  .shell {
    padding: 0 calc(2rem * 1);
  }
}
@media only screen and (max-width: em(899px, 18px)) {
  .shell {
    padding: 0 calc(2rem * 0.75);
  }
}

/* ---------------------------------- *\
    Units conversion
\* ---------------------------------- */
/* ---------------------------------- *\
    Classes
\* ---------------------------------- */
.ta-l {
  text-align: left;
}
.ta-r {
  text-align: right;
}
.ta-c {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.centered-element {
  margin-inline: auto;
  max-width: 80ch;
}

.for-screen-reader,
.hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 0;
}

.font-100,
.txt-thin {
  font-weight: 100;
}

.font-200,
.txt-extra-light {
  font-weight: 200;
}

.font-300,
.txt-light {
  font-weight: 300;
}

.font-400,
.txt-regular {
  font-weight: 400;
}

.font-500,
.txt-medium {
  font-weight: 500;
}

.font-600,
.txt-semibold {
  font-weight: 600;
}

.font-700,
.txt-bold {
  font-weight: 700;
}

.font-800,
.txt-extra-bold {
  font-weight: 800;
}

.font-900,
.txt-black {
  font-weight: 900;
}

.fs-normal {
  font-style: normal;
}

.fs-italic {
  font-style: italic;
}

.color-error {
  color: #dc3545;
}
.color-text {
  color: #3b3b3b;
}
.color-primary {
  color: #3896d3;
}
.color-primary-bis {
  color: #2480bd;
}
.color-secondary {
  color: #f1bf0d;
}
.color-secondary-bis {
  color: #dfae00;
}
.color-white {
  color: white;
}
.color-black {
  color: black;
}

.bg-color-text {
  background-color: #3b3b3b;
}
.bg-color-primary {
  background-color: #3896d3;
}
.bg-color-primary-bis {
  background-color: #2480bd;
}
.bg-color-secondary {
  background-color: #f1bf0d;
}
.bg-color-secondary-bis {
  background-color: #dfae00;
}
.bg-color-white {
  background-color: white;
}
.bg-color-black {
  background-color: black;
}
.bg-color-grey-dark {
  background-color: #2c2c2c;
}

.text-color {
  color: #3b3b3b;
}

.pos-static {
  position: static !important;
}
.pos-relative {
  position: relative !important;
}

.display-block {
  display: block !important;
}
.display-inline {
  display: inline !important;
}
.display-inline-block {
  display: inline-block !important;
}

.hide {
  display: none !important;
}

.show {
  display: initial !important;
}

.block-top {
  vertical-align: top !important;
  align-self: flex-start !important;
}
.block-middle {
  vertical-align: middle !important;
  align-self: flex-center !important;
}
.block-bottom {
  vertical-align: bottom !important;
  align-self: flex-end !important;
}
.block-left {
  margin-right: auto !important;
  margin-left: 0 !important;
}
.block-center {
  margin-right: auto !important;
  margin-left: auto !important;
}
.block-right {
  margin-right: 0 !important;
  margin-left: auto !important;
}
.block-link {
  position: relative;
  display: block;
  text-decoration: none;
}

.no-margin {
  margin: 0 !important;
}

.no-margin-top {
  margin-block-start: -1rem !important;
}
.no-margin-right {
  margin-inline-end: 0 !important;
}
.no-margin-bottom {
  margin-block-end: 0 !important;
}
.no-margin-left {
  margin-inline-start: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.no-padding-top {
  padding-block-start: 0 !important;
}
.no-padding-right {
  padding-inline-end: 0 !important;
}
.no-padding-bottom {
  padding-block-end: 0 !important;
}
.no-padding-left {
  padding-inline-start: 0 !important;
}

.no-spaces {
  padding: 0;
  margin: 0;
}

body.loading * {
  transition: none !important;
}

body {
  font-family: "Arial", sans-serif;
  font-size: 18px;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}
body.debug *:not(.debug-wrapper > *):not(.debug-wrapper) {
  background: rgba(0, 100, 0, 0.1) !important;
  outline: solid 1px rgba(0, 100, 0, 0.3) !important;
  outline-offset: -1px;
}

html {
  min-height: -webkit-fill-available;
}

::-moz-selection {
  background-color: #3896d3;
  color: white;
}

::selection {
  background-color: #3896d3;
  color: white;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

@media only screen and (min-width: 33.3333333333em) {
  h1 {
    font-size: 46px;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 35px;
  }
  h4 {
    font-size: 26px;
  }
  h5 {
    font-size: 20px;
  }
  h6 {
    font-size: 14px;
  }
}
@media only screen and (min-width: 50em) {
  h1 {
    font-size: 50px;
  }
}
@media only screen and (max-width: 33.2777777778em) {
  h1 {
    font-size: 26px;
  }
}
p {
  color: #3b3b3b;
  font-family: "Arial", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  word-spacing: 0.12rem;
  hanging-punctuation: first;
}

a {
  text-decoration: none;
}
a.on-white, a.on-dark {
  background-position-y: 100%;
  background-repeat: no-repeat;
  background-size: 100% 7%;
  padding: 0 0.15rem;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
a.on-white {
  background-image: linear-gradient(to right, #2c2c2c, #2c2c2c);
}
a.on-white:hover, a.on-white:focus, a.on-white:active {
  background-size: 100% 100%;
  color: white;
}
a.on-dark {
  background-image: linear-gradient(to right, white, white);
}
a.on-dark:hover, a.on-dark:focus, a.on-dark:active {
  background-size: 100% 100%;
  color: #2c2c2c;
}

.default-link {
  color: #3896d3;
  position: relative;
  padding: 0.75rem;
  padding-left: 1.25rem;
  border-radius: 0.25rem;
  font-size: 1.1111111111rem;
  background-image: linear-gradient(to right, #2480bd 50%, white 50%);
  background-position-x: 100%;
  background-repeat: no-repeat;
  background-size: 200%;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
.default-link:before {
  content: ">";
  position: relative;
  left: -0.75rem;
}
.default-link:hover, .default-link:focus, .default-link:active {
  background-position-x: 0%;
  color: white;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 0.75rem;
}

.default-btn {
  text-decoration: none;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.9rem 2rem;
  border-radius: 0.3rem;
  color: #3b3b3b;
  background-image: linear-gradient(to right, #dfae00 50%, #f1bf0d 50%);
  background-position-x: 100%;
  background-repeat: no-repeat;
  background-size: 200%;
  cursor: pointer;
  transition: background-position-x 0.2s ease-out, color 0.5s ease-out;
}
.default-btn:hover, .default-btn:focus, .default-btn:active {
  background-position-x: 0%;
}

.page-title {
  max-width: none;
  padding-right: 0;
  padding-left: 0;
  position: absolute;
  top: 2rem;
  left: 3vw;
  font-size: calc(90% + 18vw);
  opacity: 0.1;
  word-break: keep-all;
  width: -moz-max-content;
  width: max-content;
}
@media only screen and (max-width: 49.9444444444em) {
  .page-title {
    font-size: calc(100% + 18vw);
    left: 1rem;
  }
}
@media only screen and (max-width: 33.2777777778em) {
  .page-title {
    font-size: calc(100% + 14vw);
  }
}

.txt-default {
  font-size: 1.2222222222rem;
}
@media only screen and (max-width: 33.2777777778em) {
  .txt-default {
    font-size: 1rem;
  }
}

.final-txt {
  font-size: 1.3333333333rem;
}
@media only screen and (max-width: 33.2777777778em) {
  .final-txt {
    font-size: 1.1111111111rem;
  }
}
.final-txt p {
  font-size: 1.3333333333rem;
}
@media only screen and (max-width: 33.2777777778em) {
  .final-txt p {
    font-size: 1.1111111111rem;
  }
}

.project-title {
  font-size: 5.5555555556rem;
}
@media only screen and (max-width: 49.9444444444em) {
  .project-title {
    font-size: 3.8888888889rem;
  }
}
@media only screen and (max-width: 33.2777777778em) {
  .project-title {
    font-size: 2.5rem;
  }
}

.link {
  display: inline-flex;
  color: #3896d3;
  position: relative;
  padding: 0.75rem;
  padding-left: 1.25rem;
  border-radius: 0.25rem;
  font-size: 1.1111111111rem;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.link:hover, .link:focus, .link:active {
  color: #3b3b3b;
}

.btn {
  display: inline-flex;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.btn-primary {
  background-color: #3896d3;
  color: white;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: white;
  background-color: #2480bd;
}

.btn-secondary {
  background-color: #f1bf0d;
  color: white;
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  color: white;
  background-color: #dfae00;
}/*# sourceMappingURL=main.css.map */