---
import BaseLayout from "../layouts/BaseLayout.astro";
import BaseFooter from "../components/BaseFooter.astro";
import BackToTop from "../components/BackToTop.astro";

import DataImportComp from "../components/dataImportComp.astro"; // component import

import siteData from "../data/siteData.json"; //data import
const { firstList, secondList } = siteData; //useful to pass variable through components

/*
// The following describes a function to generate files using language parameters, as well as using the right JSON file to load content
// in the configuration  /src/page/[lang]
import en from '../translations/en.json';
import fr from '../translations/fr.json';

export function getStaticPaths() {
	return ['en', 'fr'].map(lang => ({ params: { lang } }));
}
//here returned languages name MUST have the same name as import variables names, which will be generated URL too

const { lang } = Astro.params;
const languages = { en, fr };
const text = languages[lang];
// then use the {text} variable in the html file (ie : {text.pagetitle})
// beware that with this method root folder in non-existent, as only [lang]/index.html is generated (needs redirect)
*/
const root = "./";
const rootImgs = "./assets/imgs/";
const title = "index page title";
---

<BaseLayout title={title}>
    <h1>Astro</h1>

    <p>Text : {siteData.text}</p>
    <div>
        <p>Image</p><img src={`${rootImgs}` + `${siteData.firstList[0].image}`} alt="" />
    </div>
    <p>Second level text : {siteData.firstList[0].description}</p>
    <p set:text={siteData.text} />
    <p set:html={siteData.htmlText} />

    <!-- using component -->
    <p>First List</p>
    <ul class="items-list">
        {firstList.map((item) => <DataImportComp item={item} />)}
    </ul>

    <p>Second List</p>
    <ul class="items-list">
        {secondList[0].imbricatedList.map((item) => <DataImportComp item={item} />)}
    </ul>
    <!-- end using component -->

    <BaseFooter />
    <BackToTop />
</BaseLayout>

<!-- style is scoped by adding a class "astro-XXXXX" on export. use "is:global" to make CSS global to all project -->
<style lang="scss" is:global>
    ul {
        display: flex;
    }
</style>
