---

---

<a href="#" class="back-to-top" id="back-to-top" aria-label="Remonter en haut"><i class="bi bi-arrow-up-short"></i></a>

<style>
    .back-to-top {
        position: fixed;
        visibility: hidden;
        opacity: 0;
        left: 15px;
        bottom: 15px;
        z-index: 100;
        background: #ff002b;
        width: 40px;
        height: 40px;
        border-radius: 4px;
        transition: all 0.4s;
    }
    .back-to-top:after {
        content: "\2038";
        position: relative;
        color: white;
        font-size: 24px;
        line-height: 0.75;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .back-to-top.active {
        visibility: visible;
        opacity: 1;
    }
</style>
