---
import Menu from "../components/Menu.astro";
---

<header class="header">
    <a href="#main-content" class="aller-au-contenu">Aller au contenu</a>

    <Menu />
</header><!-- fin de .header -->

<style lang="scss">
    .header {
        position: relative;
    }

    /* MEDIA QUERIES
---------------------------------------- */
    .header {
        @include bp("phone-only") {
        }
    }
</style>
