---
---

<footer class="footer" id="footer"></footer><!-- fin de .footer -->

<style lang="scss">
    .footer {
        position: relative;
    }

    /* MEDIA QUERIES
---------------------------------------- */
    .footer {
        @include bp("phone-only") {
        }
    }
</style>
