---
const { title } = Astro.props;
---

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="/assets/js/main.js" defer></script>

    <title>{title}</title>
</head>
