---
const { item } = Astro.props;

const root = "./../";
const rootImgs = "./../assets/imgs/";
---

<li class="item">
    <p>{item.title}</p>
    <p>{item.description}</p>
    <img src={`${rootImgs}` + `${item.image}`} alt="" />
</li>
