---
---

<nav role="navigation" class="navigation" id="navigation">
    <ul class="menu-wrapper">
        <li class="menu-item"><a href="/menu-1">Menu 1</a></li>
        <li class="menu-item"><a href="/menu-2">Menu 2</a></li>
        <li class="menu-item"><a href="/menu-3">Menu 3</a></li>
    </ul>
</nav>

<style lang="scss">
    .navigation {
        position: relative;
    }

    /* MEDIA QUERIES
---------------------------------------- */
    .navigation {
        @include bp("phone-only") {
        }
    }
</style>
