---
import BaseHead from "../components/BaseHead.astro";
import BaseHeader from "../components/BaseHeader.astro";
import Debug from "../components/DebugComponent.astro";
const { root = "./", title = "" } = Astro.props;
---

<html lang="fr">
    <BaseHead root={root} title={title} />

    <body id="body" class="">
        <Debug />
        <BaseHeader root={root} />
        <slot />
    </body>
</html>
